# Git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
temp
*.tmp
